<div>
  <h4>Search Map</h4>
    <form>
      <div class="form-group">
        <label for="address"></label>
        {{input value=address id="address"}}
      </div>
      <button action='standardGeocode'>SEARCH</button>
    </form>
</div>
<br>
