<div class="container">
  <h2 id="title">ZILLOW-CLONE</h2>
  <!-- {{g-maps name="my-map" lat=45.5231 lng=-122.6765 zoom=15}} -->
  {{#link-to 'routable-component'}}MAP{{/link-to}}
  {{outlet}}
</div>
