<nav class="flex-nav">
  <div class="logo">
    {{#link-to 'index'}}<span class="glyphicon glyphicon-tree-conifer"></span> ZILLOW-CLONE{{/link-to}}
  </div>
  <div class="logo">
    {{#link-to 'routable-component'}}MAP{{/link-to}}
  </div>
  <div class="logo">
    {{#link-to 'agent'}}AGENTS{{/link-to}}
  </div>
</nav>


{{outlet}}
